.rotate {
    transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: spin 40s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.move {
    animation: moving 250s linear infinite;
}

@keyframes moving {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(-50%);
    }
}
.float {
    animation-name: Floating;
    animation-duration: 23s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes Floating{
    from { transform: translate(0px, 0px); }
    25%  { transform: translate(5px, 5px);}
    50%  { transform: translate(0px, 5px);}
    75%  { transform: translate(-5px, 5px);}
    to   { transform: translate(0px, 0px); }   
  }
